body 
{
    text-align: center;
    font-family: "Time New Roman";
    color: #333;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: #33A;
    color: white;
    margin: 0;
    font-weight: bold;
    box-shadow: 0px 5px 20px 0px rgba(65, 48, 48, 0.75);
    padding: 0.5rem;
}

#cabecera #menu{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid #ddd;
    margin: auto;
}

#container h1{
    font-size: 30px;
}

#footer {
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}